<h1><%= @plant.name %></h1>

<%= simple_format( @plant.description,
                   {
                     class: 'plant-description-wrapper',
                   },
                   {
                     wrapper_tag: :div
                   }) %>

<div class="plant-menu-links">
  <%= link_to 'edit',
      edit_private_plant_path( @plant.uuid )
      %>
  <%= link_to 'delete',
      private_plant_path( @plant.uuid ),
      method: :delete,
      data: { confirm: "Are you sure to delete \"#{@plant.name}\"?" }
      %>
</div>

<% if @plant.power_logs.blank? %>
  There is no log for "<%= @plant.name %>".<br>
  Please post data about this plant.<br>
<% end %>

Logging code example in python.
<pre>
import requests
r = requests.post('<%= api_v1_power_log_url %>',
  data = {
    'voltage' : '38.2',
    'ampere' : '1.6',
    'access_token': '<%= @plant.access_token %>',
  })
print r.text
</pre>


<% if @plant.power_logs.blank? %>
  If you want to try with curl, here you are.
<pre>
curl '<%= api_v1_power_log_url %>' \
  -d 'voltage=38.2' \
  -d 'ampere=1.6' \
  -d 'access_token=<%= @plant.access_token %>'
</pre>
<% else %>

  <%= render partial: 'parts/graphs/power_logs_of_plant',
      locals: { plant: @plant }
      %>
  <%= render partial: 'parts/graphs/power_logs_of_plant',
      locals: { plant: @plant, target_type: :voltage }
      %>
  <%= render partial: 'parts/graphs/power_logs_of_plant',
      locals: { plant: @plant, target_type: :ampere }
      %>

  <table class="power-logs-table">
    <thead>
      <th>watt</th>
      <th>voltage</th>
      <th>ampere</th>
      <th>logged at</th>
      <th>creator info</th>
      <th>action</th>
    </thead>
    <tbody>
      <% @plant.power_logs.each do |power_log| %>
        <tr>
          <td><%= power_log.watt %></td>
          <td><%= power_log.voltage %></td>
          <td><%= power_log.ampere %></td>
          <td><%= power_log.logged_at.strftime('%Y-%M-%D %H:%M') %></td>
          <td><%= power_log.creator_info %></td>
          <td>
            <%= link_to 'delete',
                private_plant_power_log_path(plant_id: @plant.uuid, id: power_log.id),
                method: :delete,
                data: { confirm: "Are you sure to delete the power log at #{power_log.logged_at.to_s}?" }
                %>
          <td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<%= link_to 'back to dashboard', private_dashboard_path %>
